/* Füge diesen Teil hinzu, um den fullAudioPlayer am unteren Bildschirmrand zu fixieren */
#fullAudioPlayer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 100%;
  background-color: rgb(255, 255, 255);
  border: 0px solid #4682b4;
}


/* Stil für alle h2-Überschriften */
h2 {
  font-family: "Arial Narrow";
  color: steelblue;
}


/* Stil für unterstrichene Wörter */
.transcription .word {
  cursor: pointer;
}

/* Stil für Sprechernamen */
.speaker {
  font-weight: bold;
  color: hwb(0 36% 64%);
  margin-right: 20px;
}

/* Stil für aktiven Sprecher */
.speaker.active {
  color:hwb(214 4% 47%);
  border-top: 0px solid hwb(0 36% 64%);
  border-bottom: 0px solid hwb(0 36% 64%);
  box-sizing: border-box; /* Fügt die Border zur Box hinzu, ohne die Größe zu ändern */
}

/* Stil für das aktuell abgespielte Wort */
.word.playing {
  text-decoration:underline dotted gray; /* Hier kannst du die gewünschte Hervorhebung anpassen */
  text-decoration-color: gray;
}

.speaker-time {
  font-size: 0.7em;
  font-family: "Arial Narrow";
  color: gray;
}

/* Stil für hover-Ereignis auf Sprecher */
.speaker.hover {
  text-decoration: underline;
}

.speaker {
  cursor: pointer;
}


/* Stil für den Transkriptionstext */
.transcription {
  font-family: "Courier New", monospace;
  max-width: 600px;
  margin: 0 auto;
}

/* Stil für unterstrichene Wörter */
.transcription .word:hover {
  text-decoration: underline;
  color: black;
  cursor: pointer;
}



/* Stil für Metadaten-Container */
#metadataContainer {
  font-family: "Arial Narrow";
  max-width: 600px;
  border: 1px solid #4682b4;
  padding: 5px;
  margin: 0 auto;
  margin-bottom: 20px; /* Abstand nach unten */
}

/* Stil für Audio-Container */
#audioContainer {
  font-family: "Arial Narrow";
  max-width: 600px;
  border: 0px solid #000;
  padding: 5px;
  margin: 0 auto;
  margin-top: 20px; /* Abstand nach oben */
  margin-bottom: 0px; /* Abstand nach unten */
}

/* Oberen Rand des ersten Elements innerhalb der Container entfernen */
#metadataContainer > *:first-child,
#audioContainer > *:first-child,
#titleTranscription > *:first-child {
  margin-top: 0;
}

/* Stil für Logo-Container */
#logoContainer {
  text-align: center;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

/* Stil für das Logo */
#logoContainer img {
  max-width: 200px;
  height: auto;
  margin: 0 auto;
}

/* Stil für die Überschrift "Transcripción" */
#titleTranscription {
  font-family: "Arial Narrow";
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
  margin-top: 10px; /* Abstand nach oben */
}

/* Stil für Transkriptions-Container */
#transcriptionContainer {
  margin-top: 20px; /* Platz für den Header, damit er nicht den Text überlappt */
  padding: 0px;
}

.transcription {
  margin-bottom: 20px; /* Zum Beispiel 20px Abstand zwischen den einzelnen Redebeiträgen */
}

