body {
  font-family: Arial Narrow, sans-serif;
  margin: 0;
  padding: 0;
  max-width: 600px;
  margin: 0 auto;
}

header {
  background-color: hsl(0, 0%, 100%);
  color: steelblue;
  padding: 10px;
  text-align: center;
}

/* Stil für Logo-Container */
#logoContainer {
  text-align: center;
  background-color: white;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

h2 {
  margin: 0; /* Entfernt den Standardabstand um den h2-Text */
  padding: 10px; /* Entfernt den Standard-Innenabstand um den h2-Text */
  vertical-align: top; /* Setzt die vertikale Ausrichtung auf oben */
}

/* Stil für nav-Container */
.nav-container {
  font-family: "Arial Narrow";
  max-width: 600px;
  border: 1px solid #4682b4;
  padding: 5px;
  margin: 0 auto;
  margin-bottom: 10px; /* Abstand nach unten */
}

/* Stil für Stats-Container */
.stats-container {
  border: 1px solid steelblue;
  margin-top: 10px;
  padding: 10px; /* Optional: Füge Innenabstand hinzu, um den Text vom Rahmen zu trennen */
}

nav {
  background-color: #00000000;
  color: hwb(0 0% 100%);
  padding: 10px;
  text-align: left;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav li {
  margin-bottom: 10px; /* Ändere den Wert nach Bedarf */
}

nav a {
  color: #000000;
  text-decoration: none;
  padding: 5px;
}

nav a:hover {
  background-color: hsl(208, 27%, 60%);
}

#playerContainer {
  margin: 20px;
}

