<system.webServer>
        <security> 
            <requestFiltering> 
                <denyUrlSequences> 
                    <clear /> 
                </denyUrlSequences> 
                <fileExtensions allowUnlisted="true"> 
                    <clear /> 
                </fileExtensions> 
            </requestFiltering> 
        </security>
    </system.webServer>
